body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTCkSahmNEnZ2FwK4FqOrsmvNYbKtoDr-Wpwlo4lN8ocS9QG-u");
    background-size: cover;
    color: black;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 40px; 
}

.time-unit, .time-unit span {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid green;
}

.time-unit {
    margin-bottom: 20px;
}

.message {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
}